spring:
  application:
    name: api-rest
    
  config:
    import: application-environment.yml

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8081